body {
  background-color: "#edeeef";
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8em;
  width: 90vw;
}

.input-field {
  width: 55vw;
  background-color: white;
}

.input {
  width: 90%;
  padding: .5em .5em .5em 2em;
  font-size: 2em;
  border: 0;
  border-bottom: 1px solid gray;
}

ul {
  width: 50vw;
  list-style: none;
  padding: 0;
}

li {
  width: 90%;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid gray;
}

p {
  min-width: 80%;
  max-width: 80%;
  padding: 0 .5em;
  font-size: 2em;
  color: #696969;
  white-space: nowrap;
  text-overflow: "...";
  overflow: hidden;
}

input[type="checkbox"] {
  width: .8em;
  height: .8em;
  border: 0;
  padding: 0;
}

button {
  font-size: 1.6em;
  border: 0;
  padding: 0;
  background-color: transparent;
  color: #8B0000;
}

@media only screen and (max-width: 650px) {
  .input-field {
    width: 85vw;
  }

  .input {
    padding: .5em .5em .5em 1.5em;
    font-size: 1.5em;
  }

  ul {
    width: 70vw;
  }

  li {
    height: 3em;
  }

  p {
    font-size: 1.2em;
  }

  button {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 450px) {
  .input-field {
    width: 100%;
  }

  .input {
    padding: .2em .2em .2em .5em;
    font-size: 1em;
  }

  li {
    height: 2.2em;
    width: 90%;
  }

  p {
    font-size: 1em;
  }

  button {
    font-size: 1.1em;
  }
}
